#table {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.1);
}
#report {
  width: 60%;
  background-color: azure;
}
.assets {
  min-height: 200px;
}
.asset-tr {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
}
